
@{
    ViewBag.Title = "Inicio";
}

<h2>Seccion</h2>
<label>Ingreso numero 1</label>
<input type="text" name="name" value="" id="txtnumero1" />
<label>Ingreso numero 2</label>
<input type="text" name="name" value=""  id="txtnumero2" />

<input type="button" name="name" value="Sumar" id="btnSumar" />
<input type="button" name="name" value="Limpiar" id="btnLimpiar" />
<label>Total : </label><label id="lblTotal"></label>

<script src="~/Scripts/Sumar.js"></script>