
@{
    ViewBag.Title = "Tabla";
}

<h2>Tabla</h2>

<table class="table">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Paterno</td>
            <td>Materno</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cristian</td>
            <td>Muñoz</td>
            <td>Latapiat</td>
        </tr>
        <tr>
            <td>Javiera</td>
            <td>Muñoz</td>
            <td>Carvacho</td>
        </tr>
    </tbody>

</table>

