
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<link href="~/Content/datatables.css" rel="stylesheet" />
<div id="tabla">


</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Assemblies.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
