
@{
    ViewBag.Title = "Index";
}

<h2>Curso</h2>
<link href="~/Content/datatables.css" rel="stylesheet" />
<div id="tabla">


</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Curso.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
